BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100
PointerAlignment: Left
SpaceBeforeParens: ControlStatements

AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
